* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Poppins;
    src: url(../style/font/Poppins/Poppins-Regular.ttf);
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
}

.card {
    width: 267px;
    height: 426px;
    border-radius: 40px;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.35));

    & img {
        border-radius: 40px 40px 0 40px;
        width: 100%;
        height: 80%;
    }
}

h4 {
    color: #907081;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

p {
    color: #907081;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */

    text-wrap: balance;
}

/* .card-foot {
    background-image: url(../style/img/bg-foot.svg);
    border-radius: 40px;
    padding: 19px 24px;
} */

.card-foot {
    background-color: #fff;
    border-radius: 0 40px 40px 40px;
    padding: 20px 24px;
    position: relative;
    top: -50px;

    & a > img {
        width: 48px;
        height: 48px;
    }

    & a > img:hover {
        filter: brightness(1.2);
    }

    & a > img:active {
        filter: brightness(1);
    }
}

.align-items-center {
    display: flex;
    align-items: center;
}